<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Consultas</h3>
    </div>
    <div class="panel-body">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input id="search" type="search" class="form-control" placeholder="Pesquisa..." data-ng-model="search.paciente.nome">
        </div>
        <div class="form-group">
            <button id="add-consulta-btn" data-ui-sref="root.consultas.new" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-8">Paciente</th>
                        <th class="col-xs-8">Horário da Consulta</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="consulta in filtro = (vm.consultas | filter:search)" class="repeat-animation">
                    <td>
                        <a data-ui-sref="root.consultas.consulta.details({consultaId: consulta.id})">
                            {{consulta.paciente.nome}}
                        </a>
                    </td>
                    <td>
                        De {{consulta.dataInicial | date:'dd/MM/yyyy HH:mm'}} até {{ consulta.dataFinal | date:'dd/MM/yyyy HH:mm' }}
                    </td>
                </tr>
                <tr ng-show="filtro.length === 0">
                    <td colspan="2">
                        Nenhum registro encontrado.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>